.carousel{
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    .slides{
        display: flex;
        position: relative;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
        &.reverse{
            flex-direction: row-reverse;
        }
        .slide{
            min-width: 100%;
            position: relative;
            img{
                width: 100%;
            }
            &.active{
                .content{
                    opacity: 1;
                }
            }
            .content{
                position: absolute;
                top: 50%;
                left: 10%;
                transform: translateY(-50%);
                width: 50%;
                min-width: 350px;
                opacity: 0;
                transition: all .8s ease;
                .title{
    
                }
                .text{
    
                }
            }
        }
    }
    .control{
        position: absolute;
        padding: 1%;
        background:{
            color: none;
        }
        z-index: 4;
        border: none;
        top: 50%;
        transform: translateY(-50%);
        &.next{
            right: 3%;
        }
        &.prev{
            left: 3%;
        }
    }
}


//----------------------Transitions----------------------------//

.carousel{
    .next-enter{
        transform: translateX(0);
    }
    .next-enter-to{
        transform: translateX(-100%);
    }
    .next-leave-to{
        transform: translateX(-100%);
    }
    .next-leave{
        transform: translateX(0);
    }
    .next-enter-active, .next-leave-active{
        transition: all .5s ease;
    }
    
    .prev-enter{
        transform: translateX(0);
    }
    .prev-enter-to{
        transform: translateX(100%);
    }
    .prev-leave-to{
        transform: translateX(100%);
    }
    .prev-leave{
        transform: translateX(0);
    }
    .prev-enter-active, .prev-leave-active{
        transition: all .5s ease;
    }
}