#app {
  font-family: "Raleway", sans-serif;
}

#app h1,
#app h2,
#app h3 {
  font-family: 'Humger', sans-serif;
  text-transform: uppercase;
}

#app .w-100 {
  width: 100%;
}

#app .hidden {
  display: none;
}

#app .input {
  padding: 1vh 1vw;
  border-style: none;
  width: 100%;
}

#app .select-list .selected,
#app .select-list .results {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#app .select-list .selected .item,
#app .select-list .results .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#app .select-list .selected.results,
#app .select-list .results.results {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF;
}

#app .select-list .selected.results .item,
#app .select-list .results.results .item {
  padding: 1vh 1vw;
  cursor: pointer;
  border-bottom-style: solid;
  border-bottom-color: #333333;
  border-bottom-width: thin;
}

#app .select-list .selected.results .item:last-child,
#app .select-list .results.results .item:last-child {
  border-bottom: none;
}

#app .upload-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2vh 3vw;
  min-height: 250px;
}

#app .upload-picture .icon {
  font-size: 3rem;
}

#app .upload-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #cecece;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2vh 3vw;
}

#app .upload-file .icon {
  font-size: 3rem;
}

#app .btn {
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  background-color: none;
}

#app .blured {
  -webkit-filter: blur(15px);
  filter: blur(15px);
}

