body{
    #app{
        .title{
            font-family: 'Aero Matics';
        }
        .full-section{
            &.full-section{
                height: inherit;
            }
        }
        [s-sec=header]{
            position: relative;
            .tabs{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 1%;
                ul{
                    display: flex;
                    width: 100%;
                    ol{
                        font-family: 'Aero Matics';
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 50px;
                        background-color: rgba($Ablue, .8);
                        color: #FFF;
                        border-radius: 5px;
                        margin-right: .5%;
                        font-weight: bold;
                        cursor: pointer;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
        
            }
        }
        [s-sec=who]{
            overflow: hidden;
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: row;
            &.full-section{
                height: 500px;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: -1;
            }
            article{
                width: 50%;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                ul{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    ol{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
                
            }
        }
        [s-sec=separator]{
            background-color: $Ared;
            color: #FFF;
            padding: {
                top: 5%;
                bottom: 5%;
            }
            .section{
                margin-bottom: 0;
                flex-direction: row;
                p{
                    flex: 8;
                    .title{
                        display: flex;
                    }
                }
                button{
                    flex: 2;
                    background-color: transparent;
                    color: #FFF;
                    border: {
                        style: solid;
                        width: 1px;
                        color: #FFF;
                        radius: 5px;
                    } 
                }
            }
        }
        [s-sec=values]{
            flex-direction: row;
            article{
                flex: 1;
                margin-right: 3%;
                &:last-child{
                    margin-right: 0;
                }
                p{
                    .title{
                        display: flex;
                    }
                }
            }
        }
        [s-sec=contact]{
            flex-direction: row;
            div{
                flex: 1;
                padding: 3%;
            }
        }
    }
}