*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
#app{
    width: 100vw;
    margin: 0;
    position: relative;
    .navigation{
        width: 100vw;
        background-color: $dark;
        z-index: 2; 
        .content{
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
            padding: {
                top: 1vh;
                right: 5vw;
                bottom: 1vh;
                left: 5vw;
            }
            .brand {
                width: 20vw;
                display: flex;
                align-items: center;
                margin: 0;
                img{
                    width: 100%;
                }
            }
            .item-list{
                list-style: none;
                position: absolute;
                top: 0px;
                left: 0;
                overflow: hidden;
                height: 0;
                padding: 0;
                margin: 0;
                transition: all .2s ease;
                opacity: 0;
                width: 100%;
                background: $dark;
                z-index: 1;
                .item{
                    flex: 1;
                    display: flex;
                    .link{
                        width: 100%;
                        text-decoration: none;
                        color: #FFF;
                        height: calc(50px);
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        padding: {
                            top: 1vh;
                            right: 2vw;
                            bottom: 1vh;
                            left: 2vw;
                        }
                    }
                }
                &.active{
                    height: calc(50px * 3);
                    top: 100%;
                    opacity: 1;
                }
            }
            .show-menu{
                width: 10vw;
                display: block;
                background: none;
                color: #FFF;
                font-weight: bold;
                border: none;
                padding: 10px;
            }
        }
        &[s-mode=half]{
            .content{
                width: 100%;
                margin: 0 auto;
                padding: {
                    right: 2vw;
                    left: 2vw;
                }
            }
        }
    }
    
    .full-section, .section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >h1, >h2, >h3, >h4{
            width: 100%;
        }
        .row{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 4vh;
            .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-8, .col-10{
                width: 100%;
            }
            .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-8, .col-lg-10{
                width: 100%;
            }
        }
        &.full-section{
            width: 100vw;
            background: {
                size: cover;
                repeat: no-repeat;
                position: center
            }
            height: 80vh;
            margin-bottom: 4vh;
            padding: {
                top: 1vh;
                right: 5vw;
                bottom: 1vh;
                left: 5vw;
            }
        }
        &.section{
            width: 100vw;   
            padding: {
                top: 1vh;
                right: 5vw;
                bottom: 1vh;
                left: 5vw;
            }
            margin: {
                top: 0;
                right: auto;
                bottom: 4vh;
                left: auto;
            }
            background-color: $light;
        }
    }

    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .group{
            width: 100%;
            margin-bottom: 2vh;
            display: flex;
            flex-direction: column;
            position: relative;
            label{
                margin-bottom: 1vh;
            }
            .must{
                color: $danger;
                position: absolute;
                top: 0;
                right: 0;
                font-size: .7rem;
            }
            .input{
                flex: 1;                
            }
            .btn{
                width: auto;
                margin-left: auto;
            }
        }
    }
}