@media (min-width: 768px){
    body{
        header{
            padding: 20px 10vw;
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 1;
        article{
            display: flex;
            color: #FFF;
            p{
                margin-right: 10px;
                svg{
                    width: 10px;
                    margin-right: 10px;
                }
            }
            svg{
                width: 20px;
            }
        }
        }
        #app{
            .title, .subtitle, .category{
                margin-bottom: 3%;
            }
            .full-section{
                &.full-section{
                    .title{
                        font-size: 2.2rem
                    }
                    .subtitle{
                        font-size: 1.7rem
                    }
                    .category{
                        font-size: 1.2rem
                    }
                }
            }
            .separator, [s-sec=separator]{
                padding: {
                    top: 3%;
                    bottom: 3%;
                }
                flex-direction: row;
                &.full-section{
                    article{
                        flex: 8;
                        justify-content: flex-start;
                        margin-bottom: 0;
                        svg{
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            margin-right: 30px;
                        }
                        p{
                            font-size: 1rem;
                        }
                    }
                    .cta{
                        flex: 2;
                        height: 50px;
                    }
                }
            }
            .carousel{
                margin-bottom: 0;
                .slides{
                    .slide{
                        height: auto;
                        .content{
                            color: #FFF;
                            text-align: center;
                            transform: translateY(-50%);
                            width: auto;
                            .text{
                                font-size: 1.5rem
                            }
                            .title{
                                padding: {
                                    top: 3%;
                                    bottom: 3%;
                                }
                                margin-bottom: 5%;
                            }
                            .cta{
                                background-color: transparent;
                                width: 40%;
                                color: #FFF;
                                font: {
                                    size: 1.5rem;
                                }
                            }
                            &[s-mode~=right]{
                                right: 12%;
                                left: inherit;
                            }
                        }
                    }
                }
                .control{
                    display: block;
                }
            }
            [s-sec=navigation]{
                .toggle-btn, .close-menu{
                    display: none;
                }
                .brand{
                    width: 120px;
                }
                .item-list{
                    width: 70%;
                    position: relative;
                    height: auto;
                    display: flex;
                    list-style: none;
                    color: #FFF;
                    justify-content: space-between;
                    top: 0;
                    left: inherit;
                    background-color: transparent;
                    .item{
                        .link{
                            color: #FFF;
                            text-decoration: none;
                            font-size: 1.4rem
                        }
                    }
                }
            }
            [s-sec=header]{
                .carousel{
                    .slides{
                        .slide{
                            .title{
                                font-size: 2rem;
                            }
                        }
                    }
                }
                .tabs{
                    ul{
                        ol{
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            padding: 1%;
                            p{
                                width: 90%;
                            }
                        }
                    }
                }
            }
            [s-sec=services]{
                &.full-section{
                    >div{
                        flex-direction: row;
                        align-items: center;
                        img{
                            width: 50%;
                            height: auto;
                        }
                    }
                }
            }
            [s-sec=who]{
                &.full-section{
                    height: 285px;
                }
                img{
                    transform: inherit;
                    width: 100%;
                    height: auto;
                }
                svg{
                    width: 65%;
                    height: 200%;
                    top: -50px;
                }
                article{
                    width: 50%;
                }
            }
            [s-sec=testimonial]{
                &.full-section{
                    height: 500px;
                }
                .carousel{
                    .slides{
                        .slide{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 90vh;
                            img{
                                height: 100%;
                                width: auto;
                            }
                            .testimonials{
                                article{
                                    width: 60%;
                                    .text{
                                        width: 60%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            [s-sec=values]{
                flex-direction: row;
                article{
                    margin:{
                        top: inherit;
                        bottom: inherit;
                        left: inherit
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px){
    body{
        #app{
            font-size: .9rem;
            .title, .subtitle, .category{
                margin-bottom: 3%;
            }
            .title{
                font-size: 2.5rem
            }
            .subtitle{
                font-size: 2rem
            }
            .category{
                font-size: 1.5rem
            }
            .text{
                font-size: .9rem
            }
            .s-text{
                font-size: .7rem
            }
            [s-sec=navigation]{
                top: 0;
                width: 100%;
                height: 110px;
                &.on-top{
                    background: #FFF;
                    color: $dark;
                    padding: 20px 5vw;
                    .item-list{
                        .item{
                            a{
                                color: $dark
                            }
                        }
                    }
                }
                .brand{
                    width: 150px;
                }
                .item-list{
                    align-items: center;
                }
    
            }
            [s-sec=header]{
                margin-top: -170px;
                .carousel{
                    .slides{
                        .slide{
                            .title{
                                font-size: 2.5rem;
                            }
                        }
                    }
                }
                .tabs{
                    width: 100%;
                    ul{
                        width: 100%;
                        ol{
                            height: 80px;
                            border-radius: 5px;
                            margin-right: .5%;
                            padding: 15px;
                            flex-direction: row;
                            &:nth-child(2){
                                svg{
                                    width: 25%;
                                    margin-right: 5px;
                                }
                                p{
                                    width: 90%;
                                }
                            }
                            &:hover{
                                height: 110px;
                            }
                            &.active{
                                height: 120px;
                            }
                            svg{
                                width: 35%;
                            }
                            p{
                                width: 70%;
                                display: block;
                            }
                        }
                    }
            
                }
            }
            [s-sec=who]{
                width: 100%;
                &.full-section{
                    height: 350px;
                }
                svg{
                    width: 59%;
                    height: 100%;
                    top: 0;
                }
                article{
                    width: 50%;
                    div{
                        width: 80%;
                        height: 70%;
                        margin-top: 0;
                        >.title, >.text{
                            margin-bottom: 0;
                        }
                        ul{
                            ol{
                                &.category{
                                    span{
                                        font-size: 2.5rem;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
            [s-sec=testimonial]{
                height: 354px;
            }
            [s-sec=values]{
                article{
                    flex: 1;
                    margin-right: 3%;
                    svg{
                        padding-right: 20px;
                        max-width: 90px;
                    }
                    p{
                        flex: 3;
                    }
                }
            }
            [s-sec=projects]{
                &.full-section{
                    .title{
                        padding: 3%;
                    }
                }
            }
            [s-sec=job]{
                min-height: 310px;
                img{
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
                .section{
                    .subtitle{
                        padding: 2%;
                    }
                }
            }
            [s-sec=contact]{
                flex-direction: row;
                &.full-section{
                    &.full-section{
                        padding-right: 0;
                    }
                }
                >div{
                    flex: 1;
                    padding: 3%;
                    &:first-child{
                        padding-right: 5%;
                        p{
                            margin-bottom: 20px;
                        }
                        .form{
                            .group{
                                .btn{
                                    width: 40%;
                                }
                            }
                        }
                    }
                    &:last-child{
                        padding:{
                            top: 5%;
                            right: 11%;
                            bottom: 5%;
                            left: 5%;
                        }
                        ul{
                            ol{
                                padding:{
                                    top: 5%;
                                    bottom: 5%;
                                }
                                svg{
                                    padding-right: 8%;
                                    max-width: 60px;
                                }
                                p{
                                    flex: 4;
                                }
                                article{
                                    flex: 4;
                                    ul{
                                        li{
                                            padding: {
                                                top: 5%;
                                                bottom: 5%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &[s-layout=general]{
                >.content{
                    display: flex;
                    >.main{
                        width: 62%;
                        &[s-sec=services],  &[s-sec=projects]{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;
                            padding-left: 5vw;
                            padding-right: 3%;
                            >.cont{
                                position: relative;
                                    width: 25vw;
                                    height: 25vw;
                                    overflow: hidden;
                                    border-radius: 30px;
                                    margin-bottom: 5%;
                                >article{
                                    height: 100%;
                                    width: 100%;
                                    cursor: pointer;
                                    >figure{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        width: 100%;
                                        height: 100%;
                                        img{
                                            width: auto;
                                            height: 100%;
                                        }
                                    }
                                    >.label{
                                        position: absolute;
                                        width: 100%;
                                        bottom: 0;
                                        left: 0;
                                        display: flex;
                                        padding: 3%;
                                        height: 30%;
                                        background-color: $gray;
                                        color: $light-gray;
                                        svg{
                                            width: 30%;
                                            height: 100%;
                                            margin-left: 3%;
                                            path{
                                                stroke: $light-gray;
                                                stroke-width: .5px;
                                            }
                                        }
                                        .text{
                                            padding: 3% 5%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            text-align: center;
                                            width: 100%;
                                            font: {
                                                family: 'Aero Matics';
                                                weight: bold;
                                                style: italic;
                                                size: 1.2rem;
                                            }
                                        }
                                    }
                                    >.text, >.title{
                                        padding-left: 5vw;
                                        margin-bottom: 2%;
                                    }
                                    
                                }
                                >.detail{
                                    .header{
                                        position: relative;
                                        color: #FFF;
                                        overflow: hidden;
                                        img{
                                            width: 100%;
                                        }
                                        svg{
                                            width: 20%;
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-90%);
                                            left: 5%;
                                            z-index: 1;
                                            &:first-child{
                                                width: auto;
                                                height: 150%;
                                                top: 0;
                                                transform: inherit;
                                                left: 0;
                                                fill: $Ablue;
                                            }
                                        }
                                    }
                                    .title{
                                        padding-left: 5vw;
                                        padding-bottom: 3%;
                                        margin-bottom: 0;
                                        position: relative;
                                        color: $Ablue;
                                        height: 10vw;
                                        display: flex;
                                        align-items: flex-end;
                                        &::after{
                                            content: '';
                                            width: 35vw;
                                            position: absolute;
                                            bottom: 0;
                                            left: 5vw;
                                            height: 3px;
                                            background-color: $Ablue;
                                        }
                                        svg{
                                            width: auto;
                                            height: 100%;
                                            fill: currentColor;
    
                                            position: absolute;
                                            right: 0;
                                            top: 0;
                                        }
                                    }
                                    .text{
                                        position: relative;
                                        padding-left: 5vw;
                                        padding-right: 15%;
                                        padding-top: 3%;
                                        margin-bottom: 5%;
                                        min-height: 200px;
                                        width: 75%;
                                        svg{
                                            position: absolute;
                                            top: -2px;
                                            left: 40vw;
                                            fill: $Ablue;
                                            height: auto;
                                            width: 8vw;
                                        }
                                        &.full{
                                            width: 100%;
                                            min-height: inherit;
                                        }
                                        &.empty{
                                            margin-bottom: -10%;
                                        }
                                    }
                                    .info{
                                        padding-left: 5vw;
                                        .title, .text{
                                            padding-left: 0;
                                            &::after{
                                                display: none;
                                            }
                                        }
                                    }
                                    .blue-table{
                                        margin-left: 5vw;
                                        width: 70%;
                                        border-radius: 5px;
                                        margin-bottom: 5%;
                                    }
                                    .image{
                                        width: 100%;
                                        position: relative;
                                        margin-bottom: 5%;
                                        img{
                                            width: 100%;
                                        }
                                        .category{
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            background-color: $Ablue;
                                            color: #FFF;
                                            width: 100%;
                                            margin-bottom: 0;
                                            padding: 5%;
                                        }
                                    }
                                    .foaming-form{
                                        padding-left: 5vw;
                                    }
                                    .form{
                                        label{
                                            display: none;
                                        }
                                        .input{
                                            padding: 2%;
                                            border: {
                                                style: solid;
                                                width: 1px;
                                                color: $gray;
                                                radius: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                            &.active{
                                padding-left: 0;
                                >.cont{
                                    width: 100%;
                                    height: auto;
                                    border-radius: 0;
                                    overflow: visible;
                                    >.sub{
                                        width: 100%;
                                        cursor: inherit;
                                        .headline{
                                            display: flex;
                                            align-items: center;
                                            padding-left: 5vw;
                                            margin-bottom: 3%;
                                            .subtitle{
                                                margin-bottom: 0;
                                                font: {
                                                    weight: bold;
    
                                                }
                                            }
                                            svg{
                                                &:first-child{
                                                    width: 7%;
                                                    margin-right: 3%;
                                                }
                                                &:last-child{
                                                    width: 30%;
                                                    fill: $Ablue;
                                                    margin-left: auto;
                                                }
                                            }
                                        }
                                        .cards{
                                            padding-left: 5vw;
                                            display: flex;
                                            justify-content: space-between;
                                            flex-wrap: wrap;
                                        }
                                        .content{
                                            display: flex;
                                            justify-content: space-between;
                                            flex-wrap: wrap;
                                            padding-left: 5vw;
                                            >article{
                                                flex: {
                                                    basis: 45%;
                                                }
                                                >.title{
                                                    display: inline-block;
                                                    padding: 1% 3%;
                                                    border: {
                                                        style: solid;
                                                        width: 1px;
                                                        color: #000;
                                                        radius: 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &[s-sec=projects]{
                            >.cont{
                                border-radius: 0;
                                >article{
                                    figure{
                                        height: 80%;
                                    }
                                    .text{
                                        padding-left: 0;
                                    }
                                }
                            }
                        }
                    }
                    >.section-menu{
                        position: fixed;
                        right: 0;
                        width: 38%;
                        padding: {
                            top: 0;
                            right: 5vw;
                            bottom: 0;
                            left: 1%;
                        }
                        >ul{
                            list-style: none;
                            background-color: $light-gray;
                            margin-bottom: 5%;
                            li{
                                position: relative;
                                color: #FFF;
                                padding: 3% 8%;
                                font-size: 1.2rem;
                                cursor: pointer;
                                border-bottom: {
                                    style: solid;
                                    width: 1px;
                                    color: #FFF;
                                }
                                transition: all .2s ease;
                                &:hover{
                                    background-color: $gray;
                                }
                                &.active{
                                    background-color: #FFF;
                                    color: $dark;
                                    border: {
                                        style: solid;
                                        width: 1px;
                                        color: $dark;
                                    }
                                }
                                svg{
                                    width: 20px;
                                    position: absolute;
                                    left: 1%;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1280px){
    body{
        #app{
            .full-section{
                &.full-section{
                    padding-left: 5vw;
                    padding-right: 5vw;
                }
            }
            .title{
                font-size: 3rem
            }
            .subtitle{
                font-size: 2.5rem
            }
            .category{
                font-size: 2rem
            }
            .text{
                font-size: 1.3rem
            }
            .s-text{
                font-size: 1rem
            }
            [s-sec=header]{
                .tabs{
                    ul{
                        ol{
                            p{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            [s-sec=projects]{
                &.full-section{
                    padding: 0;
                }
            }
            [s-sec=who]{
                svg{
                    width: 50%;
                    transform: scale(1.4, 1);
                }
            }
            [s-sec=testimonial]{
                height: 354px;
                &.full-section{
                    padding: 0;
                }
            }
            [s-sec=contact]{
                >div{
                    &:last-child{

                        ul{
                            ol{
                                svg{
                                    max-width: 90px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px){
    body{
        #app{
            .full-section{
                &.full-section{
                    padding-left: 10vw;
                    padding-right: 10vw;
                }
            }
            .title{
                font-size: 2.8rem
            }
            .subtitle{
                font-size: 2.5rem
            }
            .category{
                font-size: 1.8rem
            }
            .text{
                font-size: 1.5rem
            }
            .s-text{
                font-size: 1.3rem
            }
            [s-sec=header]{
                .tabs{
                    ul{
                        ol{
                            height: 120px;
                            &.active{
                                height: 150px;
                            }
                            p{
                                font-size: 1.2rem;
                                max-width: 105px;
                            }
                        }
                    }
                }
            }
            [s-sec=testimonial]{
                &.full-section{
                    padding: 0;
                }
            }
            [s-sec=job]{
                min-height: 500px;
            }
            [s-sec=who]{
                &.full-section{
                    height: 450px;
                }
                svg{
                    width: 36%;
                    -webkit-transform: scale(1.4, 1.5);
                    transform: scale(1.8, 1.5);
                }
                article{
                    width: 35%;
                    div{
                        width: 90%;
                    }
                }
            }
            &[s-layout=general]{
                >.content{
                    >.section-menu{
                        padding-right: 10vw;
                    }
                }
                [s-sec=services],  &[s-sec=projects]{
                    >.cont{
                        >div{
                            &:first-child{
                                >div{
                                    padding-left: 10vw;
                                    .detail{
                                        >.content{
                                            padding-left: 10vw;
                                        }
                                        .machine-picture{
                                            span{
                                                padding-left: 10vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}